@charset "UTF-8";
@import "options/vars.scss";

* { box-sizing: border-box; }

body{
    padding: 0px;
    margin: 0px;
    font-family: 'open_sansregular', sans-serif, tahoma;
    background-color: #f4f4f4;
    font-size: 14px;
    /*overflow: hidden;*/
}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body { height: 100%; }
.main { min-height: 100%; }
* html .main { height: 100%; }
.hFooter { height: 250px; }
.footer {
    background-color: #373737;
    background-image: url(../images/bgfooter.jpg);
    height: 220px;
    margin-top: -220px;
    vertical-align: middle;
    font-size: 0.75em;
    color: #727070;
}

.icons {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
}

@import "products1.scss";
@import "products2.scss";
@import "products3.scss";
@import "paginator.scss";
@import "header.scss";
@import "nav.scss";
@import "breadcrumbs.scss";
@import "subcategory.scss";
@import "filtr.scss";
@import "footer.scss";
@import "accordeon.scss";


.titlepage {
    font-family: 'open_sansbold';
    font-size: 20px;
    padding: 0;
    margin: 0 0 27px 0;
}

.aside {
    float: left;
    width: 333px;
}

.content {
    float: right;
    width: 743px;
}

.radio-input,
.checkbox-input {
    display: none;
}

.radio-label,
.checkbox-label {
    cursor: pointer;
    margin-bottom: 17px;
    display: inline-block;
    vertical-align: middle;
}

.radio-input + label::before,
.checkbox-input + label::before {
    content: "";
    width: 19px;
    height: 19px;
    margin: 0 11px 0 0;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
}
.radio-input + label::before{
    background-image: url(../images/radiooff.png);
}
.radio-input:checked + label::before {
    background-image: url(../images/radioon.png);
}
.radio-input:disabled + label::before {
    background-image: url(../images/radiodis.png);
}

.checkbox-input + label::before{
    background-image: url(../images/checkboxoff.png);
}
.checkbox-input:checked + label::before {
    background-image: url(../images/checkboxon.png);
}
.checkbox-input:disabled:checked + label::before {
    background-image: url(../images/checkboxdis.png);
}


.sort {
    height: 53px;
    border-radius: 5px;
    background-color: #e3ebee;
    border: 1px solid #dee2e5;
}

.sorting {

    padding: 7px 21px;
    float: left;

    &__text {
        display: inline-block;
        margin-right: 9px;
    }

    &__combobox {
        width: 145px;
        color: #7f7f7f;
        cursor: pointer;
        padding: 8px 14px;
        border-radius: 5px;
        display: inline-block;
        background-color: white;
        border: 1px solid #dddddd;
        background-repeat: no-repeat;
        background-position: 120px center;
        background-image: url('../images/menu_open.png');
    }

    &__panel {
        width: 200px;
        z-index: 100;
        width: 142px;
        display: none;
        min-height: 10px;
        margin-top: 10px;
        overflow: hidden;
        margin-left: -14px;
        border-radius: 3px;
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 7px #999999;
    }

    &__combobox-open {
        background-image: url('../images/menu_close.png');
    }
    &__combobox-open &__panel {
        display: block;
    }

    &__panel-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__panel-item {
    }

    &__panel-link {
        display: block;
        text-decoration: none;
        color: #7f7f7f;
        padding: 5px 0px 5px 14px;

        &:hover {
            background-color: #eeeeee;
        }
    }
}

.view {

    float: right;

    &__list {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    &__item {
        padding: 16px;
        display: inline-block;
        border-left: 1px solid #dee2e5;
    }

    &__item:first-child {
        border-left: 0;
    }

    &__link {
        width: 16px;
        height: 16px;
        display: inline-block;
        background-image: url(../images/sprite.png);
    }

    &__list_off {
        background-position: 0px -159px;
    }

    &__thumbnail_off {
        background-position: 0px -63px;
    }

    &__small_list_off {
        background-position: 0px -143px;
    }

}


.txt{

    &__title {
        font-size: 20px;
        padding-top: 26px;
        margin-bottom: 4px;
        font-family: 'open_sansbold';
    }

    &__block {
    }

    &__left {
        width: 50%;
        padding-right: 10px;
        display: inline-block;
    }

    &__right {
        width: 50%;
        padding-left: 10px;
        display: inline-block;
    }

    &__paragraf {
        text-indent: 35px;
        text-align: justify;
    }
}
