/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-checkboxmid {
  background-image: url(../images/sprite.png);
  background-position: 0px -191px;
  width: 19px;
  height: 19px;
}
.icon-checkboxoff {
  background-image: url(../images/sprite.png);
  background-position: 0px -286px;
  width: 19px;
  height: 19px;
}
.icon-checkboxon {
  background-image: url(../images/sprite.png);
  background-position: 0px -210px;
  width: 19px;
  height: 19px;
}
.icon-fb {
  background-image: url(../images/sprite.png);
  background-position: 0px -331px;
  width: 26px;
  height: 26px;
}
.icon-fb_f {
  background-image: url(../images/sprite.png);
  background-position: 0px -426px;
  width: 43px;
  height: 43px;
}
.icon-mappin {
  background-image: url(../images/sprite.png);
  background-position: 0px -31px;
  width: 11px;
  height: 16px;
}
.icon-menu_close {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 13px;
  height: 8px;
}
.icon-menu_open {
  background-image: url(../images/sprite.png);
  background-position: 0px -8px;
  width: 13px;
  height: 8px;
}
.icon-metka {
  background-image: url(../images/sprite.png);
  background-position: 0px -16px;
  width: 8px;
  height: 15px;
}
.icon-radiodis {
  background-image: url(../images/sprite.png);
  background-position: 0px -229px;
  width: 19px;
  height: 19px;
}
.icon-radiooff {
  background-image: url(../images/sprite.png);
  background-position: 0px -248px;
  width: 19px;
  height: 19px;
}
.icon-radioon {
  background-image: url(../images/sprite.png);
  background-position: 0px -267px;
  width: 19px;
  height: 19px;
}
.icon-staroff {
  background-image: url(../images/sprite.png);
  background-position: 0px -47px;
  width: 20px;
  height: 16px;
}
.icon-staron {
  background-image: url(../images/sprite.png);
  background-position: 0px -95px;
  width: 20px;
  height: 16px;
}
.icon-telephone {
  background-image: url(../images/sprite.png);
  background-position: 0px -111px;
  width: 11px;
  height: 16px;
}
.icon-tw {
  background-image: url(../images/sprite.png);
  background-position: 0px -305px;
  width: 26px;
  height: 26px;
}
.icon-tw_f {
  background-image: url(../images/sprite.png);
  background-position: 0px -383px;
  width: 43px;
  height: 43px;
}
.icon-view_list_off {
  background-image: url(../images/sprite.png);
  background-position: 0px -159px;
  width: 16px;
  height: 16px;
}
.icon-view_list_on {
  background-image: url(../images/sprite.png);
  background-position: 0px -175px;
  width: 16px;
  height: 16px;
}
.icon-view_small_list_off {
  background-image: url(../images/sprite.png);
  background-position: 0px -143px;
  width: 16px;
  height: 16px;
}
.icon-view_small_list_on {
  background-image: url(../images/sprite.png);
  background-position: 0px -127px;
  width: 16px;
  height: 16px;
}
.icon-view_thumbnail_off {
  background-image: url(../images/sprite.png);
  background-position: 0px -63px;
  width: 16px;
  height: 16px;
}
.icon-view_thumbnail_on {
  background-image: url(../images/sprite.png);
  background-position: 0px -79px;
  width: 16px;
  height: 16px;
}
.icon-vk {
  background-image: url(../images/sprite.png);
  background-position: 0px -357px;
  width: 26px;
  height: 26px;
}
.icon-vk_f {
  background-image: url(../images/sprite.png);
  background-position: 0px -469px;
  width: 43px;
  height: 43px;
}
